/*1. Primero se seleccionan etiquetas
  2. Segundo se seleccionan clases
  3. Tercero se seleccionan por ID */

/* ---------------------ETIQUETAS-------------------------------*/
 
*{
  box-sizing: border-box; /*Para que el padding y margin no afecten el tamaño del elemento*/
  
}

::selection{ /*Para cambiar el color de la selección*/
  background-color: rgba(231, 19, 19, 0.7); /*Para cambiar el color de la selección*/
  color: #f5f5f5; /*Para cambiar el color del texto seleccionado*/

}

::-webkit-scrollbar {
  width: 0.66rem;/* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background-image: url("../img/tramap.png");   /* color of the track */
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(#DD1111,#f0ca02);    /* color of the scroll thumb */
  border-radius: 1rem;       /* roundness of the scroll thumb */
  border: 0.13rem solid transparent;  /* creates padding around scroll thumb */
  transition: all 0.3s ease; /*Para que el cambio de color sea suave*/
}

::-webkit-scrollbar-thumb:hover{
  border: 0.13rem solid transparent;
  background:linear-gradient(#f0ca02,#DD1111);
}

html{
  font-size: 0.94vw; /*Tamaño de la fuente*/                                                       
  /*vw = viewport width que significa ancho del puerto visible, por lo tanto con el podemos          
  darle dimensiones resposinvas a los items, ya que se basan en el ancho del dispositivo*/
}

body{
  font-family: "Montserrat", sans-serif;
  color: #2C2C2C;
  font-size: 1rem;
}

a{
  display: inline-block; /*Para que el enlace se comporte como un bloque*/
}

nav a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;

}

section{
  position: relative;
}

section:hover .titulos::before{
  transform: scaleX(4);
}


footer{
  background-image: url("../img/tramap.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

footer .prefooter{
  position: relative;
  bottom: -4rem;

}

footer .pie{
  background-color: #2C2C2C;
  padding-bottom: 1rem;
  padding-top: 5rem;
  color: #f5f5f5;
  
}

footer .pie a{
  color: #f5f5f5;
}

footer .pie .lista-redes{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .pie .lista-redes a{
  margin-left: 1rem;
  font-size: 1.2rem;
}

footer .pie.nosotros{
  background-color: #2C2C2C;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #f5f5f5;
}

/*------------------------- CLASES -----------------------------*/

.body-contacto,
.body-nosotros{
  background-image: url("../img/tramap.png");
  background-repeat: repeat; /*Para que la imagen de fondo se repita*/
  background-attachment: fixed; /*Para que la imagen de fondo no se mueva*/
}

.container{ /*Para centrar el container*/
  width: 90%;
  padding: 0 1rem; /*Para que no quede pegado al borde - borde hacia adentro*/
  margin: 0 auto;
}

.container-full{
  width: 100%;
  padding: 0 1rem; /*Para que no quede pegado al borde - borde hacia adentro*/
}

.fila{
  margin-left: -1rem; /*Para que no quede pegado al borde - borde hacia afuera*/
  margin-right: -1rem; /*Para que no quede pegado al borde - borde hacia afuera*/
  display: flex; /*Para que los elementos se comporten como flexbox*/
  /*flexbox: permite alinear los elementos de una fila o columna*/
  flex-wrap: wrap; /*Para que los elementos se comporten como flexbox*/
}

.fila.fila-centrada{
  justify-content: center; /*Para centrar los elementos*/

}

.columna{
  padding-left: 1rem;
  padding-right: 1rem;
}

.columna-100{
  width: 100%;
}

.columna-60{
  width: 60%;
}
.columna-50{
  width: 50%;
}

.columna-41{
  width: 41.66%;
}

.columna-33{
  width: 33.33%;
}

.columna-25{
  width: 25%;
}

.columna-16{
  width: 16.66%;
}

.columna-8{
  width: 8.33%;
}

.empujar-33{
  margin-left: 33.33%;
}

.empujar-mb-0{
  margin-left: 0;
}

.orden{
  order: 2;
}

.seccion{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.seccion.seccion-contacto{
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.centrar-texto{
  text-align: center; /*Para centrar el texto*/
}

.derecha-texto{
  text-align: right; /*Para alinear el texto a la derecha*/
}

.inclinar-texto{
  font-style: italic; /*Para que el texto se vea en cursiva*/
}

.importante{
  font-style: italic; /*Para que el texto se vea en cursiva*/
}

.justificar-texto{
  text-align: justify; /*Para justificar el texto*/
}

.cabecera{
  backdrop-filter: blur(0.66rem); /*Para que el fondo se vea borroso*/
  padding: 1rem 0;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  z-index: 999;
}

.cabecera .link-logo{
  display: inline-block;
  vertical-align: middle;
}

.cabecera .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecera .link-logo .logo{
  width: 5.3rem;
  height: auto;
}

.sin-padding{
  padding-left: 0;
  padding-right: 0;
}

.padding-grande{
  padding: 4rem;
}

.contenedor-cuadrado{
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden; /*Para que cualquier cosa que salga del contenedor no se vea*/
  background-color: #871212;
}

.contenedor-cuadrado img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*Para que la imagen no se deforme*/
  object-position: center; /*Para que la imagen se centre*/
  cursor: pointer; /*Para que el cursor cambie al pasar por la imagen*/
  transition: all 0.7s ease; /*Para que el cambio de tamaño sea suave*/
}

.contenedor-cuadrado:hover img{
  transform: scale(1.25) rotate(15deg); /*Para aumentar el tamaño de la imagen*/
  opacity: 0.7;   /*Para cambiar la opacidad*/
  filter: grayscale(1);   /*Para cambiar la escala de grises*/
}


.contenedor-cuadrado .contenido-cuadrado{
  position: absolute;
  text-align: center;
  width: 100%;
  padding-right: 1.33rem;
  padding-left: 1.33rem;
  top: 40%;
  color: #f5f5f5;
  top: -100%;
  transition: all 0.5s ease;
}

.contenedor-cuadrado:hover .contenido-cuadrado{
  top: 50%;
  transform: translateY(-50%);
}

.contenedor-cuadrado .contenido-cuadrado h2{
  margin-top: 0;
}

.contenedor-cuadrado.cont-rect{
  padding-bottom: 56.25%;
}

.contenedor-cuadrado.cont-rect:hover img{
  transform: none;
}

.contenedor-serv{
  text-align: center;
  padding: 2rem;
  height: 100%;
  background-color: #f5f5f5;
  opacity: 0.7;
  border-radius: 1.33rem;
  box-shadow: -0.66rem -0.66rem 2rem #e6dfdf , 0.66rem 0.66rem 2rem #959090;
  transition: all 0.3s ease;
  box-sizing: border-box;
}


.contenedor-serv:hover{
  box-shadow: inset -0.66rem -0.66rem 2rem #e6dfdf , inset 0.66rem 0.66rem 2rem #959090;
  transform: translateY(-0.66rem);
}


.contenedor-serv i{
  font-size: 2.6rem;
  margin-bottom: 0.6rem;
  transition: all 0.4s ease;
}

.contenedor-serv:hover i{
  transform: scale(1.5); /*Para aumentar el tamaño del icono*/
}

/*Funciones de la propiedad tranform
none: No se aplica ninguna transformación.
translateX(): Mueve el elemento horizontalmente.
translateY(): Mueve el elemento verticalmente.
translate(): Mueve el elemento en ambas direcciones.
scaleX(): Escala el elemento horizontalmente.
scaleY(): Escala el elemento verticalmente.
scale(): Escala el elemento en ambas direcciones.
rotate(x,y,z): Rota el elemento en sentido horario.
skewX(): Inclina el elemento horizontalmente.
skewY(): Inclina el elemento verticalmente.
skew(): Inclina el elemento en ambas direcciones.
matrix(): Define una transformación 2D personalizada utilizando una matriz de 6 valores.*/

.contenedor-serv h3{
  margin: 1.3rem 0 0.6rem;
  font-size: 1.6rem;
  color: #2C2C2C;
}

.contenedor-serv p{
  color: #2C2C2C;
  line-height: 1.6;
  font-size: 1.3rem;
}


/* ---------------------CLASES .cabecera .menu-------------------------------*/
  /*Align-items: center; Para centrar los elementos*/
  /*Valores del align-items: flex-start, flex-end, center, space-between, space-around*/
  /*Para que los elementos se comporten como flexbox en linea vertical*/
  /*Display: flex puede combinarse con el align-items y justify-content*/


.cabecera .menu a{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #DD1111;
  text-decoration: none; /*Para quitar el subrayado del enlace*/
  font-size: 1rem; /*Tamaño de la fuente*/
  text-transform: uppercase; /*Para que se vea en mayúsculas*/
  letter-spacing: 0.13rem; /*Espaciado entre letras*/
  word-spacing: 0.33rem; /*Espaciado entre palabras*/
  font-weight: 620; /*Grosor de la fuente*/
  transition: all 0.3s ease; /*Para que el cambio de color sea suave*/
}

.cabecera .menu .seleccionado,
.cabecera .menu a:hover{
  color: #f0ca02;
}

/*Para cambiar el color de los enlaces visitados*/
/*
.cabecera .menu a:visited{ 
  color: #e39999;
}
*/

.cabecera .menu a:first-child{
  margin-left: 0;
}

.cabecera .menu a:last-child{
  margin-right: 0;
}

/*
:nth-child(3) : Selecciona el tercer elemento
:nth-child(odd) : Selecciona los elementos impares
:nth-child(even) : Selecciona los elementos pares
*/

.cabecera .hamb{
  color: #DD1111;
  font-size: 2.66rem;
  display: none;
}

.flecha{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.2rem solid #DD1111;
  color: #DD1111;
  text-decoration: none;
  display: flex;
  font-size: 1.8rem ;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  animation-name: salto;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.flecha:hover{
  border: 0.2rem solid #f0ca02;
  color: #f0ca02;
  animation-play-state: paused;
}

@keyframes salto{
  /* Commented out the animation keyframes */
  /*
  @keyframes salto{
    from{
      bottom: 3rem;
    }

    to{
      bottom: 5rem;
    }
  }
  */

  0%{
    bottom: 3rem;
  }
  50%{
    bottom: 5rem;
  }
  100%{
    bottom: 3rem;
  }

}


/*
 Este estilo se le aplicara a Elementos que contengan un enlace con un # en el href
.cabecera .menu a[href*="#"]{
  color: blue;
}

href^="#": Selecciona los elementos que tengan un enlace que comience con #

*/

.titulos{
  margin-top: 0;
  margin-bottom: 2.66rem;
  font-size: 2.66rem;
  text-align: center;
  text-transform: uppercase; /*Para que se vea en mayúsculas*/
  position: relative;
  padding-top: 1rem;
}

.titulos::before{
  position: absolute;
  top: 0;
  width: 3rem;
  height: 0.13rem;
  background-color: #DD1111;
  left: 50%;
  margin-left: -1.5rem;
  content: " ";
  transition: all 0.4s ease;
}

.video-fondo{
  position: absolute; /*Para que el video se mantenga en la misma posición*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*Para que la imagen no se deforme*/
  object-position: center; /*Para que la imagen se centre*/
  z-index: 1;  
  filter: grayscale(1); /*Para cambiar la escala de grises*/
  opacity: 0.5; /*Para cambiar la opacidad*/
}

.margin-arriba{
  margin-top: 2.6rem;
}

.btn{
  padding: 0.66rem 2rem;
  text-decoration: none; /*Para quitar el subrayado del enlace*/
  text-align: center; /*Para centrar el texto*/
  font-weight: 600; /*Grosor de la fuente*/
  font-size: 1.3rem; /*Tamaño de la fuente*/
  border-radius: 1rem; /*Para redondear los bordes*/
  border-width: 0.13rem; /*Ancho del borde*/
  border-style: solid; /*Estilo del borde*/
  transition: all 0.3s ease;
}

.btn-circulo{
  width: 3.33rem;
  height: 3.33rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
  font-size: 1.33rem;
  border-radius: 100%; /*Para redondear los bordes*/
  border-width: 0.15rem; /*Ancho del borde*/
  border-style: solid; /*Estilo del borde*/
  text-decoration: none; /*Para quitar el subrayado del enlace*/
  transition: all 0.3s ease;
}

.btn-circulo.borde-blanco{
  color: #f5f5f5;
  border-color: #f5f5f5;
}

.btn-circulo.borde-blanco:hover{
  transform: scale(1.2) rotate(360deg); /*Para aumentar el tamaño del botón*/
  color: #871212;
  background-color: #f5f5f5;
}


.btn.boton-transparente{
  background-color: transparent;
  border-color:  #DD1111;
  color: #DD1111;
  transition: all 0.5s ease;
}

.btn.boton-transparente:hover{
  background-color: #f0ca02;
  border-color:  #f0ca02;
  color: #000000;
}

.btn.boton-rojo{
  background-color: #DD1111;
  border-color: #DD1111;
  color: #f5f5f5;
}

.btn.boton-rojo:hover{
  background-color: #f0ca02;
  border-color: #f0ca02;
  color: #000000;
}

.mapa{
  position: relative;
  padding-bottom: 33.33%;
  width: 100%;
}

.mapa iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(1); /*Para cambiar la escala de grises*/
} 

.mapa iframe:hover{
  filter:none;
} 

/*---------------------------- COCINEROS------------------------------*/


.columna-cocinero .contenedor-cuadrado-c{
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.columna-cocinero img{
  object-fit: cover;  /*Para que la imagen no se deforme*/
  object-position: top; /*Para que la imagen se centre*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.columna-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columna-info h2{
  color: #DD1111;
  font-style: italic; /*Para que el texto se vea en cursiva*/
  font-size: 3rem;
  margin: 1rem 1rem 0 1rem;
}

.columna-info p{
  font-style: italic; /*Para que el texto se vea en cursiva*/
  font-size: 1.33rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

/*----------------------------------CONTACTO---------------------------------*/

.form-bloques{
  display: block;
  margin-bottom: 1rem;
}

.form-bloques .form-input{
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-attachment: fixed;
  border-radius: 1rem;
  box-shadow: inset -0.53rem -0.53rem 0.53rem #f5f5f5 , inset 0.53rem 0.53rem 0.53rem #cbced1;
  border: transparent solid 0.13rem;
  font-size: 1.33rem;
  transition: all 0.3s ease;
}

.form-bloques .form-input:focus{
  outline: 0.2rem solid #DD1111;
}

.form-bloques textarea.form-input{
  height: 10rem;
  resize: none; /*Para que no se pueda redimensionar el textarea*/
}

::-webkit-input-placeholder{
  color: #2C2C2C;
  font-style: bold;
}

.columna-info-contacto{
  font-style: italic;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-10%);
}

.columna-info-contacto h2,
.columna-info-contacto .telefono,
.columna-info-contacto .email{
  display: inline-block;
  color: #871212;
  font-size: 1.8rem;
  text-decoration: none;
  margin: 1rem 0 0 3rem;
}



/*Tipos de posiciones
  static: Por defecto
  ------------------------------------------------------------------
  relative: Se mantiene en el flujo normal del documento
  absolute: Se sale del flujo normal del documento
  fixed: Se mantiene en la misma posición aunque se haga scroll
  sticky: Se mantiene en la misma posición hasta que se hace scroll
  
    propiedades:
    1. top
    2. right
    3. bottom
    4. left
    5. z-index

    Para que un elemento quede encima de otro deben convinar las propiedades de posicion relativa y absoluta
    El objeto que va encima debe tener posicion absoluta y el objeto que va debajo debe tener posicion relativa
*/

/*------------------------------IDs----------------------------------*/

#lacarta{
  background-image: url("../img/tramap.png");
  background-repeat: repeat; /*Para que la imagen de fondo se repita*/
  background-attachment: fixed; /*Para que la imagen de fondo no se mueva*/
}

#locales{
  background-image: url("../img/tramap.png");
  background-repeat: repeat; /*Para que la imagen de fondo se repita*/
  background-attachment: fixed; /*Para que la imagen de fondo no se mueva*/
}

#locales p{
  font-size: 1.33rem;
}

#servicios{
  background-image: url("../img/tramap.png");
  background-repeat: repeat; /*Para que la imagen de fondo se repita*/
  background-attachment: fixed; /*Para que la imagen de fondo no se mueva*/
}

#banner{
  background-color: black;
  height: 100vh;
}

#banner .banner-home{
  width: 100%; /*Para que ocupe todo el ancho de la pantalla*/
  height: 100%;
  display: block; /*Para que no se deforme la imagen*/
  opacity: 0.8; /*Para cambiar la opacidad*/
  object-fit: cover; /*Para que la imagen no se deforme*/
  object-position: center; /*Para que la imagen se centre*/
}

#banner.banner-contacto,
#banner.banner-nosotros{
  height: 60vh;
}

#banner .centrar-texto.nosotros{
  padding: 0;
  text-align: center;
}

#banner.banner-nosotros .banner-home{
  object-position: bottom;
}


#banner .container{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

#banner .container h1{
  font-size: 4.8rem;
  margin:0;
  color: #DD1111;
  text-align: left;
  text-transform: uppercase;
}

#banner .container p{
  font-size: 1.33rem;
  margin:1rem 0;
  color: #f5f5f5;
  text-align: justify;
  line-height: 1.5;
}

#locales ul{
  list-style-position: inside; /*Para que la lista se vea dentro del contenedor*/
  list-style-type: none; /*Para quitar los puntos de la lista*/
  list-style-image: url(../img/check.svg);
  padding-left: 0;
  font-size: 1.33rem ;
  text-align:justify;
  line-height: 1;
  columns: 3;
}

#momentos{
  position: relative;
  color: #e6dfdf;
  background-color: #DD1111;
}

#momentos .titulos::before{
  background-color: #FFF8E1;
}

#momentos .container{
  z-index: 3;
  position: relative;
}

#momentos .trama-video{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top,#871212, rgba(85, 81, 81, 0.5)80%);
}

#momentos .container p{
  font-size: 1.33rem;
  line-height: 1.5;
}

#momentos .container p::first-letter{
  font-size: 2rem;
}

#cocineros.seccion{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#cocineros::before{
  position: absolute;
  top: 1.5rem;
  width: 3rem;
  height: 0.13rem;
  background-color: #DD1111;
  left: 50%;
  margin-left: -1.5rem;
  content: " ";
  transition: all 0.4s ease;
}

#cocineros:hover::before{
  transform: scaleX(9);
}
/* Paleta de colores
Color Principal: 
Rojo (#D11120)

Secundarios: 
Dorado #C19A6B 
Verde Oscuro #1B5E20

Neutros: 
Blanco #FFFFFF
Negro #000000
Gris Claro #F5F5F5

Realce: 
Crema Claro #FFF8E1
Azul Marino #2C3E50
*/

/* RESPONSIVE*/

/*Desktop*/
@media(min-width: 1200px){

}
@media(max-width: 1199px){
  .container{ 
    width: 960px;
  }
}


@media(max-width: 991px){

  html{
    font-size: 1.5vw ;
  }

  .container{ 
    width: 64rem;
  }

  .cabecera .hamb{
    display: block;
    transition: all 0.3s ease;
  }

  .cabecera .hamb:hover{
    display: block;
    color: #f0ca02;
  }

  .cabecera .menu{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFF8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; 
  }

  .btn.boton-transparente{
  font-size: 1.8rem;
  }
}


@media(max-width: 767px){

  html{
    font-size: 4vw ;
  }

  footer .pie .lista-redes{
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  footer .pie .lista-redes a{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  footer .columna-mb-100{
    text-align: center;
  }

  footer .pie .container{
    display: flex;
    flex-direction: row;
  }

  .order-mb-1{
    order: 1;
  }

  .order-mb-2{
    order: 2;
  }

  .order-mb-3{
    order: 3;
  }

  .mapa{
    padding-bottom: 100%;
  }

  .container{ 
    width: 100%;
  }
  .columna-mb-100{
    width: 100%;
  }
  
  .columna-mb-60{
    width: 60%;
  }
  .columna-mb-50{
    width: 50%;
  }
  
  .columna-mb-41{
    width: 41.66%;
  }
  
  .columna-mb-33{
    width: 33.33%;
  }
  
  .columna-mb-25{
    width: 25%;
  }
  
  .columna-mb-16{
    width: 16.66%;
  }
  
  .columna-mb-8{
    width: 8.33%;
  }

  .cabecera .hamb{
    display: block;
    transition: all 0.3s ease;
  }

  .cabecera .hamb:hover{
    display: block;
    color: #f0ca02;
  }

  .cabecera .menu{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #FFF8E1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none; 
  }

  .cabecera .link-logo .logo{
    width: 3rem;
    height: auto;
  }

  .contenedor-serv{
    height: auto;
    margin-bottom: 1.6rem;
  }

  .seccion{
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }

  .seccion.seccion-contacto{
    padding-top: 2.8rem;
    padding-bottom: 1rem;
  }

  .contenedor-cuadrado .contenido-cuadrado{
    top: 50%;
    transform: translateY(-50%);
  }

  #banner .container h1{
    font-size: 3rem;
    text-align: justify;
    padding-right: 1rem;
  }

  #lacarta .fila:nth-child(2){
    padding: 0;
  }

  .columna-info{
    display: block;
    text-align: center;
    padding: 0 2rem;
  }

  .columna-info h2{
    text-align: center;
  }

  .columna-info p{
    font-size: 1rem;
    padding: 1rem 0; ;
  }

  #banner.banner-home,
  #banner.banner-contacto,
  #banner.banner-nosotros{
    height: 100vh;
  }

  #banner.banner-contacto h1{
    font-size: 2.5rem;
  }

  .columna-info-contacto.derecha-texto{
    text-align: left;
  }

  .columna-info-contacto p{
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .columna-info-contacto h2,
  .columna-info-contacto .telefono,
  .columna-info-contacto .email{
    margin: 1rem 0 0 0 ;
    font-size: 1.3rem;
  }

  .form-bloques.form-bloque-boton .btn{
    width: 100%;
  }

  .columna-mb-100.columna-form{
    order: 2;
    padding-bottom: 0;
  }

  #cocineros:hover::before{
    transform: scaleX(5);
  }
}

